@import url(../fonts/HelveticaRegular.ttf);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: Helvetica;
  color: #5E5E7B;
}

p {
  font-size: 14px;
  line-height: 16px;
}

p.small-text {
  font-size: 12px;
  line-height: 14px;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-btn {
  width: 179px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border-radius: 15px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #5E5E7B;
  border: none;
}

.sidebar-input {
  width: 100%;
  border: 1px solid #C2C2C9;
  border-radius: 20px;
  padding: 13px 12.5px 10px 12.5px;
  color: #5E5E7B;
  font-size: 14px;
  line-height: 17px;
}

a {
  color: #6F6EFF;
  -webkit-text-decoration-style: solid #6F6EFF;
          text-decoration-style: solid #6F6EFF;
}

#navbar-room__select {
  position: relative;
  width: 42px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #5E5E7B;
  background: url(../img/select-bg.svg) white no-repeat;
  background-position: top 18px left 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#navbar-room__select option {
  background: #6F6EFF;
  color: white;
}

.alert {
  width: 100%;
  background: #C2C2C9;
  color: white;
  padding: 6px 0px 6px 0px;
  border-radius: 15px;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.message-header {
  height: 29px;
  width: 100%;
  background: #C2C2C9;
  border-radius: 15px 15px 0px 0px;
  padding: 9px 10px 2.5px 10px;
}

.message-header p {
  color: #FFFFFF;
}

.message-header p span {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.navbar-wrapper {
  height: 105px;
  width: 100%;
  background: #FFFFFF;
}

.navbar-wrapper .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 18px 7px 17px;
}

.navbar-wrapper .navbar-content__text p {
  margin-left: 35px;
  margin-bottom: 21px;
}

.navbar-wrapper .navbar-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-wrapper .navbar-user p {
  margin-bottom: 11px;
}

.navbar-wrapper .navbar-user img {
  border-radius: 50%;
}

.navbar-wrapper .navbar-content__list-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 754px;
}

.navbar-wrapper .navbar-content__list-room .navbar-content__item {
  position: relative;
  width: 76px;
  height: 40px;
  border: 1px solid #5E5E7B;
  border-radius: 20px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-wrapper .navbar-content__list-room .navbar-content__item .navbar-content__item-content {
  color: #5E5E7B;
  font-size: 14px;
  line-height: 17px;
}

.navbar-wrapper .navbar-content__list-room .navbar-content__item.active {
  background: #6F6EFF;
}

.navbar-wrapper .navbar-content__list-room .navbar-content__item.active .navbar-content__item-content {
  color: #FFFFFF;
}

.navbar-wrapper .navbar-content__list-room .navbar-content__item-alert {
  display: none;
}

.navbar-wrapper .navbar-content__list-room .navbar-content__item-alert.active {
  position: absolute;
  top: -10px;
  right: 5px;
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #6F6EFF;
  border-radius: 50%;
}

.auth-page .auth-page__wrapper {
  height: 595px;
  background: #F2F2F8;
  padding: 30px 0px 38px 0px;
}

.auth-page .auth-page__wrapper .auth-form {
  width: 370px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auth-page .auth-page__wrapper .auth-page__form {
  background: #FFFFFF;
  border-radius: 15px;
  width: 100%;
  height: 252px;
  padding: 24px 15px 24px 15px;
}

.auth-page .auth-page__wrapper .auth-page__form .auth-page__form-title p {
  text-align: center;
  margin-bottom: 27px;
}

.auth-page .auth-page__wrapper .auth-page__form .auth-page__form-input .auth-page__input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth-page .auth-page__wrapper .auth-page__form .auth-page__form-input .auth-page__input-group label {
  font-size: 14px;
  line-height: 17px;
  color: #5E5E7B;
  margin-left: 10px;
  margin-bottom: 10px;
}

.auth-page .auth-page__wrapper .auth-page__form .auth-page__form-input .auth-page__input-group input {
  width: 100%;
  height: 40px;
  border: 1px solid #5E5E7B;
  border-radius: 20px;
  padding: 13px 12.5px 13px 12.5px;
  color: #5E5E7B;
}

.auth-page .auth-page__wrapper .auth-page__form .auth-page__form-input .auth-page__input-group input::-webkit-input-placeholder {
  color: #C2C2C9;
  padding: 13px 12.5px 10px 12.5px;
}

.auth-page .auth-page__wrapper .auth-page__form .auth-page__form-input .auth-page__input-group input:-ms-input-placeholder {
  color: #C2C2C9;
  padding: 13px 12.5px 10px 12.5px;
}

.auth-page .auth-page__wrapper .auth-page__form .auth-page__form-input .auth-page__input-group input::-ms-input-placeholder {
  color: #C2C2C9;
  padding: 13px 12.5px 10px 12.5px;
}

.auth-page .auth-page__wrapper .auth-page__form .auth-page__form-input .auth-page__input-group input::placeholder {
  color: #C2C2C9;
  padding: 13px 12.5px 10px 12.5px;
}

.auth-page .auth-page__wrapper .auth-page__form .auth-page__form-input .auth-page__input-group:first-child {
  margin-bottom: 25px;
}

.auth-page .auth-page__wrapper .auth-page__btn button {
  width: 100%;
  border: none;
  height: 51px;
  background: #FFFFFF;
  border-radius: 15px;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #5E5E7B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-page .navbar-content__list-room {
  display: none;
}

.messanger-admin {
  height: 605px;
  background: #F2F2F8;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  width: 100%;
}

.messanger-admin .messanger-container {
  width: 100%;
  padding: 0px 15px 18px 0px;
}

.messanger-admin .messagner-container__content {
  overflow-y: scroll;
  max-height: 495px;
}

.messanger-admin .messanger-admin__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 13px 18px 22px;
}

.messanger-admin .messanger-admin__wrapper .messanger-container .messanger__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.messanger-admin .messanger-admin__wrapper .messanger-container .messanger__row .message {
  width: 370px;
  height: auto;
  background: #FFFFFF;
  border-radius: 15px;
}

.messanger-admin .messanger-admin__wrapper .messanger-container .messanger__row .message .message-content {
  padding: 12px 10px 12px 10px;
}

.messanger-admin .messanger-admin__wrapper .messanger-container .messanger__row .message .message-content .message-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.messanger-admin .messanger-admin__wrapper .messanger-container .messanger__row .message .message-content .message-content__info span {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  color: #C2C2C9;
}

.messanger-admin .messanger-admin__wrapper .messanger-container .messanger__row.answer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.messanger-admin .messanger-admin__wrapper .messanger-container .messanger__row.question {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.messanger-admin .messanger-admin__wrapper .messanger-container .messanger__row:nth-child(even) {
  margin: 12px 0px;
}

.messanger-admin .messanger-admin__wrapper .messanger-container .messanger__row:last-child {
  margin: 12px 0px 35px 0px;
}

.messanger-admin .messanger-admin__wrapper .messanger-container__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.messanger-admin .messanger-admin__wrapper .messanger-container__btn .messanger-btn__message {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 570px;
          flex: 1 1 570px;
  height: 93px;
}

.messanger-admin .messanger-admin__wrapper .messanger-container__btn .messanger-btn__message .messanger-btn__message-input input {
  height: 65px;
  width: 100%;
  border: none;
  border-radius: 0px 0px 15px 15px;
  padding: 15px 15px 30px 15px;
  color: #5E5E7B;
  word-wrap: break-word;
}

.messanger-admin .messanger-admin__wrapper .messanger-container__btn .messanger-btn__message .messanger-btn__message-input input::-webkit-input-placeholder {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  color: #C2C2C9;
}

.messanger-admin .messanger-admin__wrapper .messanger-container__btn .messanger-btn__message .messanger-btn__message-input input:-ms-input-placeholder {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  color: #C2C2C9;
}

.messanger-admin .messanger-admin__wrapper .messanger-container__btn .messanger-btn__message .messanger-btn__message-input input::-ms-input-placeholder {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  color: #C2C2C9;
}

.messanger-admin .messanger-admin__wrapper .messanger-container__btn .messanger-btn__message .messanger-btn__message-input input::placeholder {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  color: #C2C2C9;
}

.messanger-admin .messanger-admin__wrapper .messanger-container__btn .messanger-btn__btn {
  margin-left: 12px;
}

.messanger-admin .messanger-admin__wrapper .messanger-container__btn .messanger-btn__btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 43px;
  background: #FFFFFF;
  border-radius: 15px;
  border: none;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #5E5E7B;
}

.messanger-admin .messanger-admin__wrapper .messanger-container__btn .messanger-btn__btn button:first-child {
  margin-bottom: 8px;
}

.messanger-admin .messanger-admin__wrapper .messanger-sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 370px;
          flex: 0 0 370px;
  height: 100%;
}

.messanger-admin .messanger-admin__wrapper .messanger-sidebar .sidebar__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 12px 0px 13px 0px;
}

.messanger-admin .messanger-admin__wrapper .messanger-sidebar .sidebar-content {
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 15px;
  padding: 28px 13px 24px 16px;
}

.messanger-admin .messanger-admin__wrapper .messanger-sidebar .sidebar-content .sidebar-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.messanger-admin .messanger-admin__wrapper .messanger-sidebar .sidebar-content .sidebar-content__row .sidebar__number-contract {
  width: 183px;
}

.messanger-admin .messanger-admin__wrapper .messanger-sidebar .sidebar-content .sidebar-content__row .sidebar__number-contract p {
  margin-left: 10px;
  margin-bottom: 11px;
}

.messanger-admin .messanger-admin__wrapper .messanger-sidebar .sidebar-content .sidebar-content__row .sidebar__balance {
  margin-right: 40px;
}

.messanger-admin .messanger-admin__wrapper .messanger-sidebar .sidebar-content .sidebar-content__row .sidebar__balance p {
  margin-bottom: 24px;
}

.messanger-admin .messanger-admin__wrapper .messanger-sidebar .sidebar-content .sidebar-content__row .sidebar__balance span {
  font-size: 22px;
  line-height: 26px;
  color: #5E5E7B;
}

.messanger-admin .messanger-admin__wrapper .messanger-sidebar .sidebar-content .sidebar-content__row .sidebar-content__input-group {
  margin-top: 27px;
}

.messanger-admin .messanger-admin__wrapper .messanger-sidebar .sidebar-content .sidebar-content__row .sidebar-content__input-group label {
  font-size: 14px;
  line-height: 17px;
  color: #5E5E7B;
  border-radius: 20px;
  margin-left: 10px;
}

.messanger-admin .messanger-admin__wrapper .messanger-sidebar .sidebar-content .sidebar-content__row .sidebar-content__input-group input {
  margin-top: 11px;
}

.messanger-admin .messanger-admin__wrapper .messanger-sidebar .sidebar-content .sidebar-content__row .sidebar-content__input-group .d-flex.input-group input:first-child {
  margin-right: 35px;
}
/*# sourceMappingURL=style.css.map */